/* @import "/node_modules/swiper/swiper-bundle.css"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #e9ddbb; */
  background-image: url(/img/dym_rozovyj_pelena_115937_1920x1080.jpg);
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: rgb(121, 19, 70);
}

.root {
  max-width: 1500px;
  margin: 0 auto;
}

.header-form {
  margin: 20px 70px;
}

.header-form__field-wrapper {
}

.header-form__label {
  color: rgb(236, 215, 234);
  font-size: 28px;
  font-weight: 900;
  margin-right: 50px;
}

.header-form__select {
  font-size: 16px;
  border: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #8f8766;
  color: rgb(121, 19, 70);
  font-weight: 700;
}

.header-form__option {
}

.calendar-wrapper {
  position: relative;
  background-color: rgb(236, 215, 234);
  min-width: 330px;
  margin: 30px 50px;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #8f8766;
}

.calendar {
  color: rgb(121, 19, 70);
}

.calendar::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 5%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgb(121, 85, 19);
}

.calendar-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(121, 85, 19);
  font-size: 18px;
}

.swiper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 500px;
  margin-left: 0;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  padding-left: 45%;
}

.swiper-slide {
}

.swiper-slide-active {
  font-weight: 900;
}
.swiper-button-prev {
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-button-next {
  position: absolute;
  top: 0;
  right: 0;
}

.calendar-header__btn {
  display: flex;
  width: 100px;
}

.calendar-header__text {
  margin-right: 10px;
  font-size: 18px;
}

.btn--hide {
}

.calendar__main {
  padding: 20px 0;
}

.calendar__main ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendar__main ul li {
  position: relative;
  width: calc(100% / 7);
}

.calendar__weekdays li {
  font-weight: 900;
}

.day {
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
  font-weight: 700;
}

.calendar__days {
  margin-bottom: 20px;
}

.day::before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.day:hover::before {
  background: rgb(179, 121, 174);
}

.day--off {
  color: grey;
  font-weight: normal;
}

.day--today {
  font-size: 20px;
  font-weight: 900;
  /* color: rgb(120, 57, 161); */
  color: #db2a85;
  text-shadow: 1px 1px 2px rgb(179, 121, 174);

  /* border: 1px solid rgb(120, 57, 161); */
}
